@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "tabela-total.css";
@import "dashboard.css";


body {
  background-color: white;
}
 
  /*personalisa o Carteira Digital para ficar com fundo */
.custom-title {
    background: linear-gradient(135deg, #022d5c, #0069d9); /* Gradiente do azul escuro para o azul claro */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  Sombra mais leve */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem; /* Tamanho do texto mais moderado */
}

.box-search{
  display: flex;
  justify-content: end;
  gap: 0.9%;
  width: 500px;
  margin-left: auto;
}



h4 {
  color: #007bff !important;
  font-weight: bold;
}

.sidebar {
  
  background-color: rgb(235, 235, 235) !important;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding-top: 20px;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.sidebar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff !important;
  text-align: center;
  padding: 10px 0;
}

.sidebar .nav-link {
  padding: 10px 20px;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar .nav-link:hover {
  background-color: #ffffff;
  color: #007bff;
  font-weight: bold;
  border-radius: 3px;
}

.sidebar .nav-link svg {
  color: #007bff;
}

.sidebar-heading {
  font-weight: bold;
  font-size: 0.85rem;
  color: #888;
  padding-left: 20px;
  margin-top: 20px;
}


