
#chart {
    width: 100%;
    max-width: none;
    margin: 35px auto;
}

.card-icon {
    font-size: 2rem;
}
.card-body {
    display: flex;
    align-items: center;
    gap: 15px;
}
.card-title {
    margin-bottom: 0;
}
.text-blue {
    color: #f4dd12;
}
.text-green {
    color: #28a745;
}
.text-red {
    color: rgb(210, 72, 30);
}
.text-purple {
    color: #007bff;
}